extends web

block content
  .container.grid-md
    section
      .columns
        .column.col-8
          h1 Specialized for Adult ESL Students.
          p Read/Write workbooks are written specifically for adult literacy and ESL education. We’ve included unique features and exercises to enhance the learning experience.
          img.amazon-lg(src="/images/Amazon.png")
          p
            small or
              a(href="#") &nbsp;Download &amp; Print

        .column.col-4
          img(src="/images/cover-red.png")
    hr
    section.workbooks
      center
        h2 Vocabulary Workbooks
        p These books are provided under a Creative Commons license and portions are free to reproduce with attribution. The full license can be found
          a(href="/license") &nbsp;here.
      .columns
        .column.col-3
          center
            img(src="/images/cover-red.png")
            h6 General Vocabulary
            small
              em (250 Pages)
            img.amazon-sm(src="/images/Amazon.png")
        .column.col-3
          center
            img(src="/images/cover-red.png")
            h6 General Vocabulary
            small
              em (250 Pages)
            img.amazon-sm(src="/images/Amazon.png")
        .column.col-3
          center
            img(src="/images/cover-red.png")
            h6 General Vocabulary
            small
              em (250 Pages)
            img.amazon-sm(src="/images/Amazon.png")
        .column.col-3
          center
            img(src="/images/cover-red.png")
            h6 General Vocabulary
            small
              em (250 Pages)
            img.amazon-sm(src="/images/Amazon.png")
  .container.red
    .container.grid-md.features
      section
        center
          h2 Key Features

          p We’ve included features to enhance the learning experience, such as translations and up-to-date vocabulary, that aren’t found in other materials:

          .columns
            .column.col-3
              h6 On-Page Translations
              img(src="/images/translations.svg")
            .column.col-3
              h6 Color Photography
              img(src="/images/photos.svg")
            .column.col-3
              h6 Modern Vocabulary
              img(src="/images/vocab.svg")
            .column.col-3
              h6 Multi-Level
              img(src="/images/levels.svg")
