extends layout

block content
  .container
    - for (let node of text) {
      .word
        h2= node.word
        h5 Letters
        - let chars = node.word.split()
        - var s = node.word
        .letters
          - for (var i = 0; i < s.length; i++) {
              span.letter= s.charAt(i)
          - }
    - }
