extends layout

block content
  .container
    - for (let word of words) {
      .word
        h2= word.word
        img(src=word.image)
        h5 Letters
        - let chars = word.word.split()
        .letters
          - for (var i = 0; i < word.word.length; i++) {
              span.letter= word.word.charAt(i)
          - }
    - }
