doctype html
html
  head
    title Read/Write
    link(rel='stylesheet', href='/stylesheets/milligram.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans')
  body
    block content
