doctype html
html
  head
    title Read/Write

    style.
      body {
        font-family: 'Helvetica Neue', sans-serif;
        padding: 50px;
        margin: 0px;
        color: #000;
        border-top: 4px solid #000;
      }

      footer {
        position: absolute;
        bottom: 0px;
        right: 20px;
        font-size: 10px;
      }

      header {
        clear: both;
      }

      .word {
        margin-bottom: 60px;
      }

      .spelling {
        width: 90%;
      }

      .words, .sentence, .spell {
        margin-top: 80px;
      }

      td.right {
        padding-left: 40px;
      }

      .word {
        width: 60%;
        float: left;
      }

      .word span {
        margin-right: 10px;
      }

      .image {
        width: 40%;
        float: right;
      }

      .image img {
        width: 100%;
      }

      h1 {
        font-size: 48px;
        margin-bottom: 20px;
        margin-top: 0px;
      }

      h6 {
        text-transform: uppercase;
        font-weight: lighter;
      }

      .letters span {
        font-size: 20px;
        padding-right: 20px;
        margin-right: 10px;
        padding-bottom: 40px;
        border-bottom: 1px dotted #000;
      }

      .words span {
        font-size: 20px;
        padding-right: 40px;
        margin-right: 20px;
        padding-bottom: 40px;
        border-bottom: 1px dotted #000;
      }

      .sentence p {
        font-size: 20px;
        margin-bottom: 60px;
      }

      hr {
        height: 0px;
        color: #fff;
        border: none;
        border-bottom: 1px dotted #000;
        margin-bottom: 60px;
      }

  body
    block content
