doctype html
html
  head
    title Read/Write - Adult Literacy and ESL Workbooks
    link(rel="stylesheet", href="/stylesheets/spectre.min.css")
    link(rel="stylesheet", href="/stylesheets/web.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans")

  body
    block content
    footer
      .container.grid-md
        small hi