doctype html
html
  head
    title Read/Write - Adult Literacy and ESL Workbooks
    link(rel="stylesheet", href="/stylesheets/spectre.min.css")
    link(rel="stylesheet", href="/stylesheets/web.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab")

  body
    block content
    footer
      .container.grid-md
        small
          a(href="/") Home
          span &middot;
          a(href="/license") License
          span &middot;
          a(href="/download") Download
          span &middot;
          a(href="https://github.com/philleif/readwrite-school") Github
          br
          br
          em &copy; 2018 Citizen Capital, a 501c(3) Nonprofit