body {
  font-family: 'Open Sans';
  padding: 60px;
  padding-top: 40px;
  padding-bottom: 20px;
  margin: 0px;
  color: #000;
}

#pagefooter {
  position: absolute;
  bottom: 0px;
  left: 40px;
  font-size: 8px;
}

#pagefooter span {
  margin-right: 20px;
}

#page {
  min-height: 650px;
  max-height: 650px;
}

header {
  clear: both;
}

.words, .sentence {
  font-family: 'Roboto Slab';
  margin-top: 30px;
}

.spell {
  font-family: 'Roboto Slab';
  margin-top: 10px;
}

td.right {
  padding-left: 40px;
}

.word {
  width: 60%;
  font-family: 'Roboto Slab';
}

.word span {
  margin-right: 10px;
  font-size: 10px;
}

.image img {
  max-height: 150px;
  max-width: 200px;
}

h1 {
  font-size: 48px;
  margin-top: 0px;
  margin-bottom: 4px;
}

h6 {
  font-size: 10px;
  text-transform: uppercase;
  font-weight: lighter;
  font-family: 'Open Sans';
}

.letters span {
  font-size: 14px;
  padding-right: 20px;
  margin-right: 10px;
  padding-bottom: 40px;
  border-bottom: 1px dotted #000;
}

.words span {
  font-size: 14px;
  padding-right: 40px;
  margin-right: 18px;
  padding-bottom: 40px;
  border-bottom: 1px dotted #000;
}

.sentence p {
  font-size: 14px;
  margin-bottom: 40px;
}

hr {
  height: 0px;
  color: #fff;
  border: none;
  border-bottom: 1px dotted #000;
  margin-bottom: 40px;
}

hr.heading {
  border-bottom: 1px solid #eee;
  margin-bottom: 10px;
  margin-top: 30px;
}